http协议之发展历史

## http 0.9/1.0/1.1
HTTP协议的的报文有两种类型：请求和响应。其报文为：

```
// http请求报文
GET  HTTP/1.1 
Host:xxx.xxxx.com       // 1.1 指定服务器的域名
User-Agent: xx             // 1.0
Accept: */*                    // 1.0
// 保持长链接，默认开启,HTTP/1.1 就把 Connection 头写进标准，并且默认开启持久连接，除非请求中写明 Connection: close，
// 浏览器和服务器之间是会维持一段时间的 TCP 连接，不会一个请求结束就断掉。
Connection: Keep-Alive 
Keep-Alive: 300
// 目前，对于同一个域名，大多数浏览器允许同时建立6个持久连接。
```

```
// http响应报文
HTTP/1.0 200 OK 
Content-Type: text/plain // 返回的数据类型
Content-Encoding: gzip  // 说明数据的压缩方法。
Content-Length: 137582   // 一个TCP连接现在可以传送多个回应，势必就要有一种机制，区分数据包是属于哪一个回应的。这就是Content-length字段的作用，声明本次回应的数据长度
Transfer-Encoding: chunked， // 1.1版规定可以不使用Content-Length字段，而使用"分块传输编码"（chunked transfer encoding）。只要请求或回应的头信息有Transfer-Encoding字段，就表明回应将由数量未定的数据块组成。
Expires: Thu, 05 Dec 1997 16:00:00 GMT
Last-Modified: Wed, 5 August 1996 15:55:28 GMT
Server: Apache 0.84 // 头信息显示完毕后空一行

<html>
  <body>Hello World</body>
</html>
```
## 缺点
• 连接头阻塞（Head-of-line Blocking ）：在建立起一个 TCP 连接之后，那么后面所有的请求都需要等着首个请求结束才能响应，请求和响应必须一个一个的来，不能并发，因为响应没有标识符号，不知道是谁的响应
• 安全性低
• 连接无法复用
• 无状态性，导致头部信息重复，头部变大

## 参考
http://www.ruanyifeng.com/blog/2016/08/http.html

## http/2
标准委员会不打算发布子版本，http/2只有一个版本，下一个版本就是http/3，HTTP/2基于SPDY，专注于性能，最大的一个目标是在用户和网站间只用一个连接（connection）。从目前的情况来看，国内外一些排名靠前的站点基本都实现了HTTP/2的部署，使用HTTP/2能带来20%~60%的效率提升。
两个规范Specification：
1. Hypertext Transfer Protocol version 2 - RFC7540
2. HPACK - Header Compression for HTTP/2 - RFC7541
## 优点
- 二进制协议（Binary Format），http1.x传输的内容是明文，HTTP/2 则是一个彻底的二进制协议，头信息和数据体都是二进制，并且统称为"帧"（frame）：头信息帧和数据帧。
- 多路复用 (Multiplexing)，只需要建立一次TCP链接， HTTP/2 中的 帧（frame）和流（stream）。帧代表着最小的数据单位，每个帧会标识出该帧属于哪个流，流也就是多个帧组成的数据流。就是在一个 TCP 连接中可以存在多条流，而Http 1.x 并没有这个标识，每次请求都会建立一次HTTP连接，3次握手4次挥手
- 头部压缩，使用HPACK进行头部的压缩，HTTP 协议不带有状态，每次请求都必须附上所有信息。所以，请求的很多字段都是重复的，比如Cookie和User Agent，一模一样的内容，每次请求都必须附带，这会浪费很多带宽，也影响速度。
- 安全性高，基于https
- SPDY协议
- HTTP/2 允许服务器未经请求，主动向客户端发送资源，这叫做服务器推送（server push）。

## 缺点
1. TCP 以及 TCP+TLS 建立连接的延时
2. 头阻塞并没有彻底解决
3. 多路复用导致服务器压力上升
4. 多路复用容易 Timeout
头部阻塞
自然有人会问，既然第一次页面与第二次页面都是同一个网站服务器，为何第二次页面要重新建立一个TCP连接，一个TLS连接？
如果重用第一个TCP连接，那么就少了1.5 RTT + 1.5 RTT = 3 RTT的时间。但是，这样会带来一个副作用，多个HTTP流使用同一个TCP连接，遵守同一个流量状态控制。只要第一个HTTP流遭遇到拥塞，剩下的HTTP流压根没法发出去，这就是头部阻塞

## 参考
https://zhuanlan.zhihu.com/p/102561034
感受http2速度实验：https://http2.akamai.com/demo

## http/3(基于UDP协议的QUIC协议)
一句话概括：HTTP/3=HTTP/2+QUIC
互联网标准化组织觉得谷歌提出的QUIC是个好东西，于是在http2的基础上，指定新的规范http3
## 优点：
1. 改进的拥塞控制、可靠传输
2. 快速握手
3. 集成了 TLS 1.3 加密
4. 多路复用
5. 连接迁移

## https
缺点
- 要花钱
- 增加了解密时间
## SSL(TLS)
SSL就是TLS的加强版，互联网最初的版本为1.0版本。从其名字就可以看出，其核心使命就是保证传输层的安全。各个通信部门成员的占位与SSL占位一致：

http协议通过TSL加密，就是https，SSL依靠证书来验证服务器的身份，并为浏览器和服务器之间的通信加密。
## http和https区别
• －　HTTPS在HTTP的基础上加入了SSL协议
• －　https协议需要到ca申请证书
• －　http和https使用的是完全不同的连接方式，用的端口也不一样，前者是80，后者是443。
• HTTPS在浏览器显示绿色安全锁，HTTP没有显示;
加密过程
1. 客户端发起请求，请求一个https的url，根据RFC2818的规定，Client知道需要连接Server的443（默认）端口。
2. server端收到请求，下发公钥证书（public key certificate）证书给浏览器，这个证书开发者一般会放在nginx根目录，然后在nginx配置文件中指定ssl文件路径
```
server {
    ···
    ssl_certificate     www.example.com.crt;
    ssl_certificate_key www.example.com.key;
    ...
}
```
// https的加密过程涉及到两种加密方式，对称加密和非对称加密
3. Client验证公钥证书，如果验证不通过，显示红色的警告信息
4. Client使用伪随机数生成器生成加密所使用的对称密钥（AES），然后用证书的公钥加密这个对称密钥，发给Server。
5. Server使用自己的私钥（private key）解密这个消息，得到对称密钥。至此，Client和Server双方都持有了相同的对称密钥。
6. server端使用密钥加密网页，返回给客户端
7. 客户端使用私钥揭秘，拿到网页内容

## 参考
http://www.ruanyifeng.com/blog/2014/02/ssl_tls.html

## 状态码
• 200 正常
• 204 请求正常，但是服务器发现没有资源，响应为空
### 301  
永久重定向，如果我们把一个地址采用301跳转方式跳转的话，搜索引擎会把老地址的PageRank等信息带到新地址，同时在搜索引擎索引库中彻底废弃掉原先的老地址。旧网址的排名等完全清零
 详细来说，301和302状态码都表示重定向，就是说浏览器在拿到服务器返回的这个状态码后会自动跳转到一个新的URL地址，这个地址可以从响应的Location首部中获取（用户看到的效果就是他输入的地址A瞬间变成了另一个地址B）——这是它们的共同点。他们的不同在于。301表示旧地址A的资源已经被永久地移除了（这个资源不可访问了），搜索引擎在抓取新内容的同时也将旧的网址交换为重定向之后的网址；302表示旧地址A的资源还在（仍然可以访问），这个重定向只是临时地从旧地址A跳转到地址B，搜索引擎会抓取新的内容而保存旧的网址。
### 302  
临时重定向，

• 304  文件没有修改，使用缓存（常见于Etage缓存命中）
• 307  内部重定向，小程序IDE中访问本地资源，就会产生一个307，Internal Redirect
• 400  发生错误
• 403  拒绝访问
• 404  丢失
• 4XX 4开头的一般都是服务器的错误
• 499  服务器关闭链接
• 500  服务器错误

## 参考
https://blog.csdn.net/zhouchangshun_666/article/details/79354193

## http缓存

缓存位置:
• Service Worker
• Memory Cache，也就是内存中的缓存，主要包含的是当前中页面中已经抓取到的资源,例如页面上已经下载的样式、脚本、图片等，读取内存中的数据肯定比磁盘快,内存缓存虽然读取高效，可是缓存持续性很短，会随着进程的释放而释放。 一旦我们关闭 Tab 页面，内存中的缓存也就被释放了。
• Disk Cache，也就是存储在硬盘中的缓存，读取速度慢点，但是什么都能存储到磁盘中，比之 Memory Cache 胜在容量和存储时效性上。
• Push Cache

浏览器缓存分为强缓存和协商缓存。当客户端请求某个资源时，获取缓存的流程如下：
• 先根据这个资源的一些 http header 判断它是否命中强缓存，如果命中，则直接从本地获取缓存资源，不会发请求到服务器；
• 当强缓存没有命中时，客户端会发送请求到服务器，服务器通过另一些request header验证这个资源是否命中协商缓存，称为http再验证，如果命中，服务器将请求返回，但不返回资源，而是告诉客户端直接从缓存中获取，客户端收到返回后就会从缓存中获取资源；
• 强缓存和协商缓存共同之处在于，如果命中缓存，服务器都不会返回资源；
• 区别是，强缓存不对发送请求到服务器，但协商缓存会。
• 当协商缓存也没命中时，服务器就会将资源发送回客户端。
• 当 ctrl+f5 强制刷新网页时，直接从服务器加载，跳过强缓存和协商缓存；
• 当 f5 刷新网页时，跳过强缓存，但是会检查协商缓存；

## 强缓存
• Expires（ http1.0 时的规范，值为一个绝对时间的 GMT 格式的时间字符串，代表缓存资源的过期时间，如果修改了本地时间，可能会造成缓存失效）
• Cache-Control:max-age（该字段是 http1.1 的规范，强缓存利用其 max-age 值来判断缓存资源的最大生命周期，它的值单位为秒）
```
cache-control: max-age=2592160
expires: Sun, 10 May 2020 09:49:25 GMT（expires就是一个GMT的时间戳）
// Cache-Control可以设置下面的值
private:             客户端可以缓存
public:              客户端和代理服务器都可缓存（前端的同学，可以认为public和private是一样的）
max-age=36400:       缓存的内容将在 xxx 秒后失效
no-cache: 需要使用对比缓存来验证缓存数据（后面介绍）
no-store: 所有内容都不会缓存，强制缓存，对比缓存都不会触发（对于前端开发来说，缓存越多越好，so...基本上和它说                               886）
//（坑）强缓存的情况下，如果资源变化了怎么办呢？
解决办法：利用md5摘要算法，在每个path后面跟着资源的摘要，只要资源变化了，，摘要才会变化
```

## 参考：
https://juejin.im/post/5eb7f811f265da7bbc7cc5bd
百度首页资源缓存分析：https://www.zhihu.com/question/20790576

## RESTFUL API
开发人员不得不每次讨论确定参数是放url的path里，querystring里，body里，header里这种问题，太低效了。于是就有了一些列接口规范/风格。其中名气最大的当属REST。REST充分运用GET、POST、PUT和DELETE，约定了这4个接口分别获取、创建、替换和删除“资源”，REST最佳实践还推荐在请求体使用json格式。这样仅仅通过看HTTP的method就可以明白接口是什么意思，并且解析格式也得到了统一。

- get 获取
- post 创建
- put 替换
- delete 删除
 
## get和post

- 语义上：get用于获取数据，post用于提交数据。(Tips:但是反过来也是可以的，只是大家都不这样做，约定大于规则)
- 形式上：get只能通过url传递参数，post还可以携带其他参数。post的body只有两种格式，application/x-www-form-urlencoded和multipart/form-data
- 安全性：post更安全（Tips:只是对普通用户而言，对黑客而言post和get的数据都是裸奔没区别）
- 幂等性上：get请求不管请求多少次，数据都是一样的，post请求不是一样的
- 数据包上：Get产生一个TCP数据包；Post产生两个TCP数据包。对于GET方式的请求，浏览器会把http header和data一并发送出去，服务器响应200（返回数据）；对于POST，浏览器先发送header，服务器响应100（continue），然后再发送data，服务器响应200（返回数据）；

## RFC协议
简单理解RFC就是互联网的规范，我们通常所说的「协议」就是以RFC的形式存在，而现行的HTTP/1.1规范的RFC有如下几个： RFC7230， RFC7231， RFC7232， RFC7233， RFC7234，RFC7235。 其中RFC7231里的Section 4. Request Methods涉及到了几个HTTP方法，接下来仔细阅读这一章节。


## 参考
https://www.zhihu.com/question/28586791
java okhttp https://square.github.io/okhttp/
前端 axios，fetch，wx.request
php  phpclient
url编码 http://www.ruanyifeng.com/blog/2010/02/url_encoding.html